<?xml version="1.0" encoding="UTF-8" ?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="personManager" class="net.sourceforge.stripes.examples.bugzooky.manager.PersonManager"/>
    <bean id="bugManager" class="net.sourceforge.stripes.examples.bugzooky.manager.BugManager"/>
    <bean id="componentManager" class="net.sourceforge.stripes.examples.bugzooky.manager.ComponentManager"/>
</beans>
