<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>bugzooky</contextName>

    <jmxConfigurator/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5p %d %C - %m%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="stdout"/>
    </root>

</configuration>
